{% load widget_tweaks %}

{% if order_form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in order_form.non_field_errors %}
    <p> {{error}}</p>
    {% endfor %}
  </div>
{% endif%}

{% for field in order_form %}
  <div class="form-group">
    {{ field.label_tag }}
    {% if order_form.is_bound %}
      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for errors in field.errors %}
          <div class="invalid-feedback">
            {{error}}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% if field.name == 'send_to' %}
        {% render_field field class="form-control" value="{{ order.order_owner.username }}" %}
      {% else %}
        {% render_field field class="form-control"  %}
      {% endif %}
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">
        {{field.help_text}}
      </small>
    {% endif %}
  </div>
  {% endfor %}
