{% load static %}
<div class="container">
  <div class="row">
    {% for orders in order_type %}
    <div class="col-6">
      <div class="card border-0 mt-2">
        <div class="card-header border">
          <h3 class="text-center">
            {% if orders == buyorders %}Buy{% else %}Sell{% endif %} Orders
          </h3>
        </div>
        <div class="card-body p-0 pt-1 mb-3">
          <div class="table-responsive">
            <table id="{% if orders == buyorders %}buy{% else %}sell{% endif %}"class="table table-sm table-hover mt-2">

              <thead class="thead-light text-center">
                <tr>
                  <th></th>
                  <th> Owner </th>
                  <th> Quantity </th>
                  <th> Quality </th>
                  <th> Price </th>
                  {% if user.is_authenticated%}
                  <th> PM </th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <td class="text-center"><img src="{% static 'pictures/profile.jpg' %}" style="max-height: 20px;max-width: 20px;"></th>
                  <td class="text-center"> <a href="{% url 'profile' order.order_owner.id %}">{{order.order_owner }}</a></td>
                  <td class="text-center"> {{order.quantity}}</td>
                  <td class="text-center"> {{order.quality}}</td>
                  <td class="text-center"> ${{order.price}}</td>
                  <input id="orderID" type="hidden" value="{{order.id}}">
                  {% if user.is_authenticated %}
                  <td class="text-center">
                    <!-- Ok, for some reason the modal only works when the variable is after #Modal (in the data-target) instead of before. No idea why -->
                    <button type="button" name="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Modal{{order.id}}">
                      {% if orders == buyorders %}Sell{% else %}Buy{% endif %}
                    </button>
                  </td>
                  {% endif %}
                </tr>
                <!-- Modals -->
                <div class="modal fade" id="Modal{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Start a conversation with {{order.order_owner}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="post" novalidate>
                          {% csrf_token %}
                          {% include 'includes/modal_form.html'%}
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" name="convo_form" class="btn btn-primary">Save changes</button>
                        </form>


                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
