{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="container mt-4">
  <h3>Messages</h3>
</div>
<div class="container mt-4">
  <!-- Tabs -->
<div class="row">
  <div class="col-4 overflow-auto" style="height: 600px">
    <div class="list-group" id="list-tab">
      <a class="list-group-item bg-secondary text-white" href="{% url 'new_conversation' %}"> New Conversation </a>
      {% for conversation in conversations %}
      <a class="list-group-item {% if conversation.id == pk %} active {% endif %}" id="list-home-list" href="{% url 'inbox' conversation.id %}" aria-controls="home">{{conversation.name}}</a>
      {% endfor %}
    </div>
  </div>


</div>
{% endblock content %}
