{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css"/>
{% endblock stylesheet %}
{% block content %}
<br>
<br>
<br>
<!-- User card block -->
<div class="container">
    <div class="card bg-light">
      <div class="text-center">
        <img class="card-img-top mt-4" src="{% static 'pictures/profile.jpg' %}" alt="Card image cap" style="width: 200px;height: 200px;">
      </div>
      <h1 class="card-title text-center"> {{user.username}}</h1>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-2 mt-auto">
          <h5 class="card-title mb-0"> Trustworthiness </h5>

          </div>
          <div class="col-2 mt-auto">
            <h5 class="card-title mb-0"> Orders </h5>
          </div>
          <div class="col-2 mt-auto">
            <h5 class="card-title mb-0"> Other  </h5>
          </div>
          <div class="col-6"></div>
        </div>
      </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <!-- Buy order table -->
    {% for orders in order_type %}
    <div class="col-6">
      <div class="card-header border my-2">
        <h3 class="text-center">
          {% if orders == buyorders %}Buy{% else %}Sell{% endif %} Orders
        </h3>
      </div>
      <div class="table-responsive">

      <table id="{% if orders == buyorders %}buy{% else %}sell{% endif %}" class="table table-sm table-hover mt-2">
        <thead class="thead-light text-center">
            <tr>
              <th> Book Name </th>
              <th> Quantity </th>
              <th> Quality </th>
              <th> Price </th>
              <th></th>
            </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td class="text-center"> {{order.book.name }}</td>
            <td class="text-center"> {{order.quantity}}</td>
            <td class="text-center"> {{order.quality}}</td>
            <td class="text-center"> ${{order.price}}</td>
            <td>
              <div class="col">
                <div class="row">
                  <button class="btn btn-primary p-1 py-0" data-toggle="modal" data-target="#editModal"> Edit </button>
                  <a href="{% url 'delete_order' order.pk %}" class="btn btn-danger p-1  py-0"> Delete </a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    {% endfor %}
    <!-- End of buy order table -->
  </div>
</div>
<div class="modal" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Future order editing features to be implemented.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="//cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script>
  $(document).ready( function () {
    $('#buy').DataTable({
      dom:'lrtpB',
      scrollY: 400,
    }
    );
} );
</script>
<script>
  $(document).ready( function () {
    $('#sell').DataTable({
      dom:'lrtpB',
      scrollY: 400,
    }
    );
} );
</script>
{% endblock js %}