{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<!-- User card block -->
<div class="container">
    <div class="card bg-light ">
      <div class="text-center">
        <img class="card-img-top mt-4" src="{% static 'pictures/profile.jpg' %}" alt="Card image cap" style="width: 200px;height: 200px;">
      </div>
      <h1 class="card-title text-center"> {{user.username}}</h1>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-8">
          <h5 class="card-title mb-0"> Trustworthiness </h5>
          <p class="text-muted"> 5/10</p>

          </div>
          <div class="col">
            <h5 class="card-title mb-0"> Orders </h5>
            <p class="text-muted"> </p>
          </div>
          <div class="col">
            <h5 class="card-title mb-0"> Other  </h5>
            <p class="text-muted"> </p>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- End of user card block -->



<div class="container">
  <div class="row">
    <!-- Buy order table -->
    {% for orders in order_type %}
    <div class="col-6">
      <div class="table-responsive">
      <table class="table table-sm table-hover mt-2">
        <thead class="thead-dark text-center">
          <tr>
            <th colspan="10"> Buy Orders</th>
          </tr>
        </thead>
        <thead class="thead-light text-center">
            <tr>
              <th> Book Name </th>
              <th> Quantity </th>
              <th> Quality </th>
              <th> Price </th>
            </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td class="text-center"> {{order.book.name }}</td>
            <td class="text-center"> {{order.quantity}}</td>
            <td class="text-center"> {{order.quality}}</td>
            <td class="text-center"> ${{order.price}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    {% endfor %}
    <!-- End of buy order table -->
  </div>
</div>


{% endblock content %}
